@charset "utf-8";

/*header*/

#header{border-bottom: 5px solid #0e73a7;}
	.headerWrap{width: 980px;margin: 0 auto;}
		.utilWrap{background: #0e73a7;}

		.navWrap{}
		.navWrap>ul{}
		.navWrap>ul>li{
			float: left;width:16.66%;border-right: 1px solid #ececec;

		}
		.navWrap>ul>li:first-child{border-left: 1px solid #ececec;}
		.navWrap>ul>li:hover a{background: #0e73a7;color:white;}
		.navWrap>ul>li>a{
			display: block;text-align: center;line-height: 60px;
			color:#162731;font-size:18px;font-weight:bold;
		}

/*content*/

#content{
	_height: 1125px;padding-top: 55px;
	background-image:  url(../images/dot01.gif) ,url(../images/01배경.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;
}
	.conWrap{
		width: 980px;_height: 1070px;margin: 0 auto;background: gray;
	}

		/*main_content*/

		.main_content{width: 980px;height: 555px;background: skyblue;margin-bottom: 15px;}
			.main_content>ul{position: relative;}

			.main_content>ul>li.l_con{
				width: 482px;height: 556px;background: red;
				position: absolute;
			}

			.main_content .l_con>ul{}
			.main_content .l_con>ul>li{overflow:hidden;cursor:pointer;}
			.main_content .l_con>ul>li img{transition:0.3s;}
			.main_content .l_con>ul>li:hover img{transform:scale(1.2);}
			.main_content .l_con>ul>li.l_left,
			.main_content .l_con>ul>li.l_right{position: absolute;bottom: 0;}
			.main_content .l_con>ul>li.l_left{left: 0;}
			.main_content .l_con>ul>li.l_left>.txtOne{
				width: 100%;height: 50px;background: #152630;
				text-align: center;line-height: 50px;
				position: absolute;bottom: 0;
				padding: 2px 20px;cursor:pointer;
			}
			.main_content .l_con>ul>li.l_left>.txtOne>img{width: 100%;}
			.main_content .l_con>ul>li.l_left>.txtOne>h3{float: left;color:white;}
			.main_content .l_con>ul>li.l_left>.txtOne>p{
				float: left;color:#6fc665;
				position: absolute;right: 45px;
			}

			.main_content .l_con>ul>li.l_right{right: 0;}
			.main_content .l_con>ul>li.l_right>.txtTwo{
				width: 100%;height: 50px;background: #152630;
				text-align: center;line-height: 50px;
				position: absolute;bottom: 0;
				padding: 2px 20px;
			}
			.main_content .l_con>ul>li.l_right>.txtTwo>img{width: 100%;}
			.main_content .l_con>ul>li.l_right>.txtTwo>h3{float: left;color:white;}
			.main_content .l_con>ul>li.l_right>.txtTwo>p{
				float: left;color:#6fc665;
				position: absolute;right: 45px;
			}

			.main_content>ul>li.r_con{
				width: 482px;height: 555px;position: absolute;right: 0;
			}
			.main_content>ul>li.r_con>.rTxt{
				position: absolute;left: 25px;top: 35px;
				color:#142630;
			}
			.main_content>ul>li.r_con>.rTxt>h2{font-size:50px;margin-bottom: 20px;}
			.main_content>ul>li.r_con>.rTxt>p{font-size:20px;}


		/*sub_content*/

		.sub_content{}
		.sub_content>ul{}
		.sub_content>ul>li{
			float: left;width: 233px;height: 240px;
			margin-right: 16px;margin-bottom: 15px;
		}
		.sub_content>ul>li:nth-child(1){}
		.sub_content>ul>li:nth-child(2){}
		.sub_content>ul>li:nth-child(3){}
		.sub_content>ul>li:nth-child(4){margin-right: 0;}
		.sub_content>ul>li:nth-child(5){}
		.sub_content>ul>li:nth-child(6){}
		.sub_content>ul>li:nth-child(7){}
		.sub_content>ul>li:nth-child(8){margin-right: 0;}

		/*li01*/
		.sub_content .l_slider{width: 233px;height: 240px;position: relative;}
		.bx-wrapper {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 0px none;
			margin-bottom: 0;
		}
		.sub_content .l_sliderTxt{
			width: 233px;height: 65px;background: #529351;
			padding: 10px 15px;color:white;
			position: absolute;top: 175px;
		}
		.sub_content .l_sliderTxt>h4{}
		.sub_content .l_sliderTxt>p{}


		/*li02*/
		.sub_content .r_slider{width: 233px;height: 240px;position: relative;}
		
		.sub_content .r_sliderTxt{
			width: 233px;height: 65px;background: #152630;
			padding: 10px 15px;color:white;
			position: absolute;top: 175px;
		}
		.sub_content .r_sliderTxt>h4{}
		.sub_content .r_sliderTxt>p{}


		/*li03*/
		.weather{width: 233px;height: 240px;position: absolute;overflow:hidden;}
		.weather>img{width: 100%;height: 100%;transition:0.3s;}
		.weather>.wTxt{
			width: 100%;height: 100%;background:rgba(0,0,0,0.7);
			position: absolute;left: 0;top: 180px;padding: 10px 15px;
			transition:0.3s;
		}
		.weather>.wTxt>h3{color: white;font-size: 16px;}
		.weather>.wTxt>p{color: white;font-size: 12px;}

		.weather:hover .wTxt{top: 0;}
		.weather:hover img{transform:scale(1.2);}

		/*li04*/
		.wrap04{position: relative;}
		.wrap04>img{}
		.wrap04>.wrap04Txt{padding: 25px 20px;position: absolute;top: 0;}
		.wrap04>.wrap04Txt>h4{}
		.wrap04>.wrap04Txt>p{}


/*footer*/

#footer
	.ftWrap{
		width: 980px;height: 115px;margin: 0 auto;background: #fff;
		padding: 30px 0;
	}
	.ftWrap>ul{}
	.ftWrap>ul>li{float: left;margin-right: 30px;margin-bottom: 10px;}
	.ftWrap>ul>li:hover a{font-weight:bold;}
	.ftWrap>ul>li>a{display: block;font-size:13px;}
	.ftWrap>address{font-style:normal;font-size:11px;color: #7d7d7d;}