@charset "utf-8";
/*header*/
header#header{height: 160px;}
header#header .topHdWrap{
	margin: 0 auto;height: 40px;
	background: #0044af;display: block;
}
header#header .topHead{width: 1200px;margin: 0 auto;}
header#header .topNav{width: 366px;float: left;line-height: 40px;}
header#header .topNav li{
	float: left;width: 120px;text-align: center;
	background: #00163b; color:#fff;margin-right: 2px;
}
header#header .topNav li a{color:white;display: block;}
header#header .topNav li:hover a{background: #fff;color:black;}
header#header .subMenu{float: right;line-height: 40px;}
header#header .subMenu li{float: left;font-size:0.8em;}
header#header .subMenu li a{color:#fff;padding: 0 10px;}
header#header .subMenu li.btn_mp a{
	float: left;background: #fff;line-height: 20px;margin-right: 2px;
	color:#333;width: 20px;padding: 0;text-align: center;
	margin-top: 10px;font-weight: bold;text-indent: -1px;
}
header#header .subMenu li:first-child{color:#fff;padding-right: 10px;}
header#header .subMenu li:last-child a{padding-right: 0;}

header#header .hdWrap{
	width: 1200px;margin: 0 auto;
}
header#header .logo{width: 210px;margin: 25px 0;cursor:pointer;}
header#header .mainMenu{float: right;width: 745px;}
header#header .mainMenu .menuWrap{_width: 605px;float: left;line-height: 120px;}
header#header .mainMenu .menu li{
	float: left;_width: 20%;font-size: 1.2em;
	margin-right: 45px;
}
header#header .mainMenu .menu a{display: block;color: #4c4c4c;}

header#header .btnToggle{float: right;padding: 35px 0;}
header#header .btnToggle a{
	display: block;width: 45px;height: 45px;
	float: left;
	background-image: url(../images/toggle_btn.gif);
	background-repeat: no-repeat;text-indent: -9999px;
}
header#header .btnToggle .toggle{background-position: 0 0;}
header#header .btnToggle .my{background-position: -45px 0;}

/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;
}
#contents .title{
	width: 1200px; height: 260px;
	_background:gray; margin: auto;padding: 80px 0 0 0;
}
#contents .titleTxtBox{float: left;width: 685px;height: 135px;}
#contents .titleTxtBox p{font-size: 44px;color: white;}
#contents .titleTxtBox h2{font-size: 60px;color: white;}
#contents .titleBtn{float: right;width: 425px;}
#contents .titleBtn li{float: left;width: 25%;}
#contents .titleBtn li a{color:white;text-align: center;display: block;}

#contents .container{width: 1200px;margin: auto;}
#contents .container>ul{margin-bottom: 20px;}
#contents .container>ul>li{
	float: left;width: 25%;height: 225px;
	overflow: hidden;
}

#contents .container>ul>li:nth-child(1){background: #f00;width: 75%;height: 450px;}
#contents .container>ul>li:nth-child(2){background: #ff0;height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
#contents .container>ul>li:nth-child(4){background: #00f;}
#contents .container>ul>li:nth-child(5){background: #fff;}
#contents .container>ul>li:nth-child(6){background: skyblue;}
#contents .container>ul>li:nth-child(7){background: orange;}
#contents .container>ul>li:nth-child(8){background: aqua;width: 75%;}

/*li01*/
.viewSlider{}
.viewSlider .sliderTxt{
	position: absolute;left: 80px;top: 80px;
	font-size:3em;_font-weight: bold;color:#1550b6;
}
.viewSlider .sliderTxt p{margin-bottom:30px;}
.viewSlider .sliderTxt a{
	display: block;width: 160px;line-height:40px;
	font-size:initial;text-align: center;
	_border: 1px solid #000;background: #182c4d;
	color:white;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
}

/*.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    outline: 0;
    width: 55px;
    height: 70px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-prev {
	left: 0;
    background: url(../images/ctrl_01.png) no-repeat 0 0;
}
.bx-wrapper .bx-next {
    right: 0;
    background: url(../images/ctrl_01.png) no-repeat -55px 0;
}*/

/*li02*/
#contents .container .viewTwo{position: relative;}
#contents .container .viewTwo img{
	position: absolute;right: -235px;top: -50px;
}
#contents .container .cover{
	width: 300px;height: 450px;
	position: absolute;background-color:rgba(91,73,24,0.5);
}
#contents .container .viewTwoTxt{
	width: 225px;position: absolute;top: 80px;left: 40px;
	color:#fff;
}
#contents .container .viewTwoTxt h2{font-size:33px;margin-bottom: 15px;}
#contents .container .viewTwoTxt p{margin-bottom: 15px;}
#contents .container .viewTwoTxt a{
	display: block;width: 170px;height: 40px;
	border: 1px solid #fff;color:white;background-color: rgba(0,0,0,0.5);
	text-align: center;line-height: 40px;
}

/*li03*/
#contents .hotWrap h2{padding: 30px 0 30px 20px; color:white;font-size: 22px;}
#contents .hotBtnWrap{width: 230px;margin: auto;}
#contents .hotBtnWrap li{
	float: left;width: 62px;text-align: center;
	margin-right: 22px;
}
#contents .hotBtnWrap li:last-child{margin-right: 0;}
#contents .hotBtnWrap li a{color:white;font-size:13px;display: block;}
#contents .hotBtnWrap li a img{padding-bottom: 10px;}

/*li04*/

#contents .infoWrap{position: relative;}
#contents .infoWrap img{}
#contents .infoWrap h2{
	position: absolute;top: 30px;left: 20px;
	color:white;font-size:22px;
}
#contents .infoWrap .infoLine{
	width: 260px;height: 1px;background: #fff;
	position: absolute;top: 75px;left: 20px;
}
#contents .infoWrap ul{
	position: absolute;top: 95px;left: 20px;
	font-size:14px;color: white;
}
#contents .infoWrap ul>li{}
#contents .infoWrap ul>li>p{
	float: left;padding-right: 26px;padding-bottom: 10px;
	cursor: pointer;
}

/*li05*/
#contents .snsWrap{padding: 30px 20px 0 20px;}
#contents h2.snsTxt{color:#01173e;margin-bottom: 17px;font-size: 22px;}
#contents .snsImgWrap{margin-bottom: 20px;}
#contents .snsImgWrap img{float: left;}
#contents .snsImgWrap p{
	font-size: 12px;float: right;width: 120px;color:#4c4c4c;
}
#contents .snsLogoWrap{float: right;}

/*li06*/
#contents .campusBox{
	width: 300px;height: 225px;
	position: relative;overflow: hidden;
}
#contents .campusBox img{
	display: block;position: absolute;
	top: -50px;right: -100px;
}
#contents .campusBox .campusOver{
	width: 300px;height: 225px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 300px;transition:0.2s;
	color:white;top: 175px;

}
#contents .campusBox:hover .campusOver{left: 0;top: 0;}
#contents .campusBox .campusTxt{
	text-align: center;padding-top: 13px;
	padding-left: 20px;padding-right: 20px;
}

/*li07*/

#contents .movieWrap{position:relative;}
#contents .movieImg img{position: absolute;top: -100px;right: 0;}
#contents .movieImg .imgCover{
	position: absolute;top: 0;left: 0;width: 300px;height: 225px;
	background-color:rgba(65,94,255,0.6);
}
#contents .movieBtn{position: absolute;top: 88px;left: 120px;}
#contents .movieBtn{}


/*li08*/
#contents .bSlider{
	position: absolute;width: 900px;height: 225px;
}
#contents .bSlider img{}
#contents .bSlider .bSliderTxt{
	position: absolute;left: 35px;top: 40px;
	color:#fd503f;
}
#contents .bSlider .bSliderTxt p{font-size:23px;}
#contents .bSlider .bSliderTxt h2{font-size:40px;margin-bottom: 18px;}
#contents .bSlider .bSliderTxt a{
	display: block;width: 160px;line-height:40px;
	font-size:initial;text-align: center;
	_border: 1px solid #000;background-color: rgba(253,80,63,0.8);
	color:white;
}


#contents .botWrap{
	background: white;width: 1200px;height: 60px;margin: 0 auto;
}
#contents .botWrap>ul.botTxt{
	width: 300px;float: left;text-align: center;line-height: 60px;
	border-right: 1.5px solid #666;
}
#contents .botWrap .botTxt li{
	padding: 0px 40px;color:#666;
}
#contents .botWrap>ul.botTxt>li>h3{float: left;}
#contents .botWrap>ul.botTxt>li>p{float: right;}

/*#contents .botSliderBox{width: 900px;float: right;}
#contents .botSliderBox .botSt{width: 300px;float: left;}
#contents .botSliderBox .botSt p{text-align: center;line-height: 60px;}
#contents .botSliderBox .botSlider{width: 600px;float: right;}*/

#contents .botSliderBox{float: right;width: 900px;height: 60px;}
#contents .botSlider li{
	text-align: center;line-height: 60px;color:#666;
	padding: 0 0px;
}
#contents .botSlider li>h4{float: left;width: 300px;display: block;}
#contents .botSlider li>p{
	float: right;font-size:;font-size: 14px;width: 600px;
	text-align: left;padding: 0 20px;
}


/*footer*/
footer#footer{height: 200px;}

footer#footer .ftTxtBox{
	width: 1200px;margin: 0 auto;position: relative;
	padding-left: 300px;overflow: hidden;
}

footer#footer ul{}
footer#footer li{float: left;position: relative;}
footer#footer li:after{
	content:"";display: block;width: 1px;height: 16px;
	background-color:#666;position: absolute;top: 23px; left: -1px;
}
footer#footer li a{
	color:#666;font-size: 12px;text-align: center;
	line-height: 60px;display: block;padding:0 15px;
}
footer#footer li:first-child a{padding-left: 0;}
footer#footer{color:#666;font-size:15px;}

