@charset "utf-8";
/*header*/
header#header{height: 160px;}
header#header .topHdWrap{
	margin: 0 auto;height: 40px;
	background: #0044af;display: block;
}
header#header .topHead{width: 1200px;margin: 0 auto;}
header#header .topNav{width: 365px;float: left;line-height: 40px;}
header#header .topNav li{
	float: left;width: 33.33%;text-align: center;
	background: #00163b; color:#fff;
	border-right: 2px solid #0044af;
}
header#header .topNav li a{color:white;display: block;}
header#header .topNav li:hover a{background: #fff;color:black;}
header#header .subMenu{_width: 290px;float: right;line-height: 40px;}
header#header .subMenu li{float: left;}

header#header .hdWrap{
	width: 1200px;margin: 0 auto;
}
header#header .logo{width: 210px;margin: 25px 0;cursor:pointer;}
header#header .mainMenu{float: right;width: 735px;}
header#header .mainMenu .menuWrap{width: 590px;float: left;line-height: 120px;}
header#header .mainMenu .menuWrap li{float: left;width: 20%;}
header#header .btnUtil{float: right;line-height: 120px;}
header#header .btnUtil li{float: left;}

/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;
}
#contents .title{
	width: 1200px; height: 260px;
	_background:gray; margin: auto;padding: 80px 0 0 0;
}
#contents .titleTxtBox{float: left;width: 685px;height: 135px;}
#contents .titleTxtBox p{font-size: 44px;color: white;}
#contents .titleTxtBox h2{font-size: 60px;color: white;}
#contents .titleBtn{float: right;width: 425px;}
#contents .titleBtn li{float: left;width: 25%;text-align: center;color:white;}

#contents .container{width: 1200px;margin: auto;}
#contents .container li{
	float: left;width: 25%;height: 225px;
	overflow: hidden;
}

#contents .container li:nth-child(1){background: #f00;width: 75%;height: 450px;}
#contents .container li:nth-child(2){background: #ff0;height: 450px;}
#contents .container li:nth-child(3){background: #0ff;}
#contents .container li:nth-child(4){background: #00f;}
#contents .container li:nth-child(5){background: #f0f;}
#contents .container li:nth-child(6){background: skyblue;}
#contents .container li:nth-child(7){background: orange;}
#contents .container li:nth-child(8){background: aqua;width: 75%;}

#contents .container .viewOne{position: relative;}
#contents .container .viewOne img{position: absolute;top: -255px;right: -150px;}
#contents .container .viewOneTxt{
	width: 300px;height: 215px;
	position: absolute;top: 90px;left: 80px;
}
#contents .container .viewOneTxt h3{font-size: 60px;color:#1551b7;}
#contents .container .viewOneTxt a{
	display: block;width: 170px;height: 40px;
	background: #182d4c;color:white;text-align: center;
	line-height: 40px;
}

/*footer*/
footer#footer{height: 200px;}


