@charset "utf-8";

/*header*/

header#header .headerWrap{
	width: 1200px;margin: 0 auto;padding: 55px 0;
}
header#header .headerWrap h1{float: left;}
header#header .headerWrap ul{float: right;}
header#header .headerWrap ul li{float: left;margin-right: 50px;}
header#header .headerWrap ul li:last-child{margin-right: 0px;}
header#header .headerWrap ul li a{
	text-align: center;height: 45px;line-height: 45px;display: block;
}

/*visual*/

div#contents .visual .view{
	width: 1200px;margin: 0 auto;position: relative;height: 785px;
}
div#contents .view img{position: absolute;right: -360px;}
div#contents .visual li{overflow: hidden;}
div#contents .visual .visualTxt{
	position: absolute;left: 0;top: 230px;
	width: 580px;
}
div#contents .visual .visualTxt h3{font-size:3em;margin-bottom: 50px;}
div#contents .visual .visualTxt a{
	display: block;	width: 290px;height: 75px;
	background: #444daa;color:white;font-weight:bold;
	line-height: 75px;text-align: center;
}
.bx-wrapper img {
    max-width: none;
}
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0px none;
	margin-bottom: 0;
	}

/*section*/

#contents .section{width: 1200px;margin: 0 auto;padding-top: 150px;}
#contents .section h2{
	width: 1200px;text-align: center;font-size: 2.5em;
	margin-bottom: 100px;
}

#contents .section ul{}
#contents .section ul li{
	float: left;width: 380px;height: 430px;
	text-align: center;margin-right:30px;
	_border: 1px solid #000;padding-top: 20px;
	box-shadow:  0 0 10px #f9f8fd;
}
#contents .section ul li:last-child{margin-right: 0;}
#contents .section li img{margin-bottom: 20px;}
#contents .section li h3{font-size:2em;margin-bottom: 10px;}
#contents .section li p{}

/*cardsection*/

#cardSecWrap{width: 1200px;margin: 0 auto;padding-top: 145px;}
#cardSecWrap .cardTxt{text-align: center;}
#cardSecWrap .cardTxt h2{margin-bottom: 35px;font-size: 2.5em;}
#cardSecWrap .cardTxt p{margin-bottom: 85px;}

#cardSecWrap .cardTab{margin-bottom: 145px;}
#cardSecWrap .cardTab ul{}
#cardSecWrap .cardTab ul li{
	float: left;width: 380px;
	margin-right: 30px;box-shadow:  0 0 10px #f9f8fd;}
#cardSecWrap .cardTab ul li:last-child{margin-right: 0px;}

#cardSecWrap .cardTab .imgTxt{padding: 40px 25px;}
#cardSecWrap .cardTab .imgTxt h3{_margin-bottom: 10px;}
#cardSecWrap .cardTab .price{width: 330px;padding: 20px 0;}
#cardSecWrap .cardTab .imgTxt p{display: block;margin-bottom: 10px;}
#cardSecWrap .cardTab .imgTxt .left{float: left;height: 29px;line-height: 29px;}
#cardSecWrap .cardTab .imgTxt .right{
	float: right;color:orange;
	font-size:22px;font-weight:bold;
}
#cardSecWrap .cardTab .imgTxt a{
	display: block;color:#464ca0;font-weight:bold;
}

/*photo*/

#photoWrap{width: 1200px;margin: 0 auto;}
#photoWrap .photoOne{}
#photoWrap .photoOne img{margin-right: 65px;margin-bottom: 145px;}
#photoWrap .photoOne .txtOne{float: right;width: 680px;padding: 80px 0;}
#photoWrap .photoOne .txtOne>p{font-size: 25px;margin-bottom: 50px;}
#photoWrap .photoOne .nameWrap{
	padding-left: 30px;border-left: 5px solid #464ca0;padding-bottom: 10px;
}
#photoWrap .photoOne .nameWrap>p{color:#666;}

#photoWrap .photoTwo{}
#photoWrap .photoTwo img{float: right;margin-left: 65px;margin-bottom: 145px;}
#photoWrap .photoTwo .txtTwo{float: left;width: 680px;padding: 80px 0;}
#photoWrap .photoTwo .txtTwo>p{font-size: 25px;margin-bottom: 50px;}
#photoWrap .photoTwo .nameWrap{
	padding-left: 30px;border-left: 5px solid #464ca0;padding-bottom: 10px;
}
#photoWrap .photoTwo .nameWrap>p{color:#666;}

#photoWrap .photoThree{}
#photoWrap .photoThree img{float: left;margin-right: 65px;margin-bottom: 145px;}
#photoWrap .photoThree .txtThree{float: right;width: 560px;padding: 50px 0;}
#photoWrap .photoThree .txtThree p{font-size: 25px;margin-bottom: 50px;}
#photoWrap .photoThree .txtThree h2{margin-bottom: 20px;font-size:2.8em;}
#photoWrap .photoThree .txtThree a{
	display: block;width: 290px;height: 75px;line-height: 75px;
	text-align: center;background: #464ca0;color:#fff;
	font-weight:bold;
}

/*info*/

#infoWrap{width: 1200px;margin: 0 auto;margin-bottom: 150px;}
#infoWrap h2{text-align: center;font-size:2.5em;margin-bottom: 85px;}
#infoWrap ul{}
#infoWrap ul li{
	width: 580px;height: 190px;padding: 30px 30px;
	margin-bottom: 35px;box-shadow:  0 0 10px #f9f8fd;
}
#infoWrap ul li.One{float: left;}
#infoWrap ul li.Two{float: right;}
#infoWrap ul li h3{margin-bottom: 30px;}
#infoWrap ul li p{}

/*footer*/

.ftLine{width: 1500px;height: 1px;margin: 50px auto;background: #ddd;}
.ftWrap{width: 1200px;margin: 0 auto;margin-bottom: 150px;}
